name: Docker not exists
on:
  #  # Uncomment when test added first time to register workflow and comment it back after workflow would be registered
  #  #
  #  # Added pull_request to register workflow from the PR.
  #  # Read more https://stackoverflow.com/questions/63362126/github-actions-how-to-run-a-workflow-created-on-a-non-master-branch-from-the-wo
  #  pull_request: {}
  workflow_dispatch: {}

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        run: echo "Do setup"

  test:
    runs-on: ubuntu-latest
    continue-on-error: true
    needs: [setup]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build
        id: build
        uses: cloudposse/github-action-docker-build-push@1.6.0
        with:
          registry: registry.hub.docker.com
          organization: ${{ github.event.repository.owner.login }}
          repository: ${{ github.event.repository.name }}
          login: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          workdir: ./test

      - uses: ./
        id: current
        with:
          registry: registry.hub.docker.com
          organization: ${{ github.event.repository.owner.login }}
          repository: ${{ github.event.repository.name }}
          login: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          tag: hfdahjkhgkhajdksah

    outputs:
      result: ${{ steps.current.conclusion }}
      image: ${{ steps.current.outputs.image }}
      tag: ${{ steps.current.outputs.tag }}
      builded_tag: ${{ steps.build.outputs.tag }}

  assert:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: nick-fields/assert-action@v1
        with:
          expected: 'failure'
          actual: "${{ needs.test.outputs.result }}"

      - uses: nick-fields/assert-action@v1
        with:
          expected: ''
          actual: "${{ needs.test.outputs.image }}"

      - uses: nick-fields/assert-action@v1
        with:
          expected: ''
          actual: ${{ needs.test.outputs.tag }}

  teardown:
    runs-on: ubuntu-latest
    needs: [assert]
    if: ${{ always() }}
    steps:
      - name: Tear down
        run: echo "Do Tear down"
